{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <p class="subheading">I am not who I want to be yet. But I am not where I used to be either. I'm just happy to be here.</p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Thang. </p>
        <p>I'm studying at University of Texas at Austin. Hook'em Horns.</p>
        <p> My hobbies include watching Kdramas, playing sports including ping pong, basketballs, volleyballs and working out. I love to run and enjoy meeting new friends.</p>
        <p>I'm coding and learning Spanish in my free time</p>
        <p>This is where I want to talk to the world. This is where I want to share and express some of my random ideas and thoughts. Thank you for being here! Let's stay in contact. </p>
        <p>Welcome to my world :)</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}